body {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.clock {
  /* display: flex; */
  position: relative;
  width: 580px;
  height: 600px;
  background-color: aqua;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5f/Colmar_sun_dial_1582.jpg);
  background-repeat: no-repeat;
  background-size: 900px;
  background-position: center;
  background-position-y: -165px;
  background-position-x: -152px;
  /* border-radius: 40%; */
  justify-content: center;
  align-items: center;
  /* position: relative; */
}
.hour {
  width: 350px;
  height: 350px;
  background-image: url(./clock1c.png);
  background-size: 350px;
  background-repeat: no-repeat;
  background-position: 80px;
  /* background-position: 2.5cm 1.8cm; */
  /* background-color: white; */
  border-radius: 50%;
  position: absolute;
  top: 125px;
  left: 112px;
  /* transform: translate(-50%, -50%); */
  /* box-shadow: 5px -5px 5px 0px #4f4941; */
  transform: rotate(190deg);
  /* border: 5px solid red; */
}

.shadow-hour {
  position: absolute;
  top: 125px;
  left: 112px;
  width: 350px;
  height: 350px;
  background-image: url(./shadowHour.png);
  background-size: 350px;
  background-repeat: no-repeat;
  background-position: 84px;
  /* border: 3px solid blue; */
  transform: rotate(194deg);
  opacity: 50%;
}
.minute {
  position: absolute;
  width: 350px;
  height: 350px;

  top: 125px;
  left: 112px;
  background-repeat: no-repeat;
  background-size: 350px;
  background-image: url(./minuteArrows\(1\).png);
  background-position: -14px 32px;
  /* background-color: blue; */
  /* background-color: transparent; */
  transform: rotate(250deg);
  /* border: 3px solid black; */
  border-radius: 50%;
}
.shadow-minute {
  position: absolute;
  width: 350px;
  height: 350px;

  top: 125px;
  left: 112px;
  background-repeat: no-repeat;
  background-size: 350px;
  background-image: url(./minuteArrows\(1\)Shadow.png);
  background-position: -18px 38px;
  /* border: 3px solid white; */
  transform: rotate(252deg);
  opacity: 50%;
}
