body {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.clock {
  display: flex;
  width: 515px;
  height: 530px;
  background-color: aqua;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5f/Colmar_sun_dial_1582.jpg);
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: center;
  background-position-y: -150px;
  background-position-x: -135px;
  border-radius: 40%;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}
.round {
  width: 350px;
  height: 350px;
  background-image: url(./clock1c.png);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: 90px;
  /* background-position: 2.5cm 1.8cm; */
  /* background-color: white; */
  border-radius: 50%;
  /* position: absolute; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

  transform: rotate(90deg);
}
.square {
  width: calc(100% / 1.414);
  height: calc(100% / 1.414);
  /* background-color: blue; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
