* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

body {
  display: flex;
  align-items: center;
  justify-content: start;
  box-sizing: border-box;
  background-image: url(./images/bkgWinter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.calendar {
  margin-right: 50px;
  padding: 10px;
  color: aliceblue;
  font-size: 30px;
  border-radius: 30px;
  opacity: 80%;
  background-image: linear-gradient(to top, rgb(179, 73, 73), rgb(0, 0, 0));
}
.date-style {
  margin-bottom: 10px;
  font-size: 20px;
  /* border: 1px solid black; */
  /* padding: 20px; */
}
.date-year {
  font-size: 30px;
  margin-left: 50px;
}
.clock {
  position: relative;
  width: 580px;
  height: 600px;
  background-color: aqua;

  background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5f/Colmar_sun_dial_1582.jpg);

  background-repeat: no-repeat;
  background-size: 900px;
  background-position: center;
  background-position-y: -165px;
  background-position-x: -152px;
  border-radius: 4%;
}
.hour {
  width: 350px;
  height: 350px;
  background-image: url(./images/hourArrow.png);
  background-size: 350px;
  background-repeat: no-repeat;
  background-position: 80px;
  border-radius: 50%;
  position: absolute;
  top: 125px;
  left: 112px;
  transform: rotate(-85deg);
}

.shadow-hour {
  position: absolute;
  top: 125px;
  left: 112px;
  width: 350px;
  height: 350px;
  background-image: url(./images/hourShadow.png);
  background-size: 350px;
  background-repeat: no-repeat;
  background-position: 84px;
  transform: rotate(-87deg);
  opacity: 50%;
}
.minute {
  position: absolute;
  width: 350px;
  height: 350px;
  top: 125px;
  left: 112px;
  background-repeat: no-repeat;
  background-size: 350px;
  background-image: url(./images/minuteArrows.png);
  background-position: -14px 32px;
  transform: rotate(55deg);
  border-radius: 50%;
}
.shadow-minute {
  position: absolute;
  width: 350px;
  height: 350px;
  top: 125px;
  left: 112px;
  background-repeat: no-repeat;
  background-size: 350px;
  background-image: url(./images/minuteArrowsShadow.png);
  background-position: -18px 38px;
  transform: rotate(57deg);
  opacity: 50%;
}
